img {
    height: auto;
    width: 100%;
    max-width: 100px;
}

#image {
    padding: 5px !important;
}

.select-supplier{
    width: 100% !important;
}

.delete-col{
    padding: 0px 20px !important;
}

.Basket-tr input{
    text-align: center;
}

