#basket-nav {
    background-color: #f8f9fa;
    overflow: hidden;
    margin: 0;
  }

#basket-nav th{
    text-align: center;
}

#basket-table, .basket-tr, th{
    border: 1px solid #1b1464;
    padding: 0.5rem;
    text-align: center;
  }

#basket-table {
    min-width: 100%;
    border-collapse: collapse;
  }

.basket-inp{
    max-width: 15%;
    text-align: center;
}

#checkout-btn{
      float: right;
      margin: 3%;
 }

td{
    text-align: center;
}

#basket-input input{
    text-align: center;
}

#basket-tr{
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}