.LoginPage{
    background-color: #1b1464;
    color:#fff0d8;
    min-height: 100vh;
    align-items: center;
    display: flex;
    
}
.mb-3{
    width: 40%;
    margin: auto;
}

.loginform{
   text-align: center;
}

form{
    text-align: left;
}


#loginbtn{
    text-align: center;
}

.btn-primary{
    margin-bottom: 2%;
    border-radius: 20px;
    font-size: 20px!important;
    background-color: #fff0d8 !important;
    color: black !important;
    border-color: black;
    border-radius: 20px !important;
    padding: 5px 30px !important;
}