#logo{
    max-width:25%;
    margin-left: 20px;
}
.navbar{
    background-color:#1b1464;
}
.navbar h1{
    color: #fff0d8;
    text-align: center;
}

.navbar button{
    background-color: #fff0d8;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 5px 30px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.links a{
    text-decoration: none;
    font-size: 25px;
    color: #1b1464;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.links{
    margin-left: 70px;
    padding: 20px;
}
.row {
    background-color: #d8e7ff;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-right: 0% !important;
}
.row a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    float: right;
    text-align: center !important;
}
.form{
    list-style-type: none !important;
    display: inline;
    float: right;
    overflow: hidden;
    margin-right: 85px;
}

input{
    width: 250px;
}

.navbar-nav-scroll{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    float: none;
    vertical-align: top;
}


.btn-outline-success:hover {
    color: #fff !important;
    background-color:#1b1464 !important;
    border-color: #1b1464 !important;
}

.btn-outline-success{
    border-color: #1b1464 !important;
    color: #1b1464 !important;
}

btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #fff0d8 !important;
}