#logo{
    max-width:25%;
    margin-left: 20px;
}
.navbar{
    background-color:#1b1464;
}
.navbar h1{
    color: #fff0d8;
    margin-right: 15%;
}

.navbar button{
    background-color: #fff0d8;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 5px 30px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container{
    margin: 0px !important;
}