
#logo{
    max-width:100%;
}

#logo-link{
    max-width:25%;
    margin-left: 20px;
}

.navbar{
    background-color:#1b1464;
}

.navbar h1{
    color: #fff0d8;
    text-align: center;
}

.notification-icon {
    padding-right: 20px;
}

#notificationCircle {
    color: red !important;
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    font-size: 16px !important;
}

#notificationCount {
    position: absolute;
    margin-left: -5px;
    padding-top: 3px;
    font-size: 12px !important;
    font-weight: bold;
}
#notificationLink {
    color: #fff0d8;
    font-size: 28px;
}

#basketCircle {
    color: red !important;
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    font-size: 16px !important;
}

#basketCount {
    position: absolute;
    margin-left: -5px;
    padding-top: 3px;
    font-size: 12px !important;
    font-weight: bold;
}
#basketLink {
    color: #fff0d8;
    font-size: 28px;
}

.navbar button{
  background-color: #fff0d8;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 5px 30px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#logout-btn:hover{
    border-color: #fff !important;
    color: #fff !important;
}

#logout-btn{
    margin-left: 2%;
}

.links a{
    text-decoration: none;
    font-size: 25px;
    color: #1b1464;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.links{
    margin-left: 70px;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color: #1b1464 !important;
    border-radius: 5px;
    color: #fff !important;
}

.row {
    background-color: #d8e7ff;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-right: 0% !important;
}

.row a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    float: right;
    text-align: center !important;
}

.form{
    list-style-type: none !important;
    display: inline;
    float: right;
    overflow: hidden;
    margin-right: 85px;
}

input{
    width: 250px;
}

.navbar-nav-scroll{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 25px;
}

.navbar-light .navbar-nav .nav-link{
    color: #1b1464 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color:#1b1464 !important;
    border-color: #1b1464 !important;
}

.btn-outline-success{
    border-color: #1b1464 !important;
    color: #1b1464 !important;
}

btn-check:focus+.btn-outline-success, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #fff0d8 !important;
}

/*Navbar media queries*/
@media (max-width: 375px){
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
}

@media (max-width: 576px){
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
}
@media (max-width: 768px) { 
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
}
@media (max-width: 992px) {
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) { 
    .navbar-collapse{
        flex-basis: 1% !important;
    }
    .navbar-nav, .navbar-nav-scroll{
        max-height: 100% !important;
    }
 }