/* PO Number table*/
.po-table, .po-table-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px !important;
}

#ponumber-th-1{
    text-align: center;
    width: 58%;
}

.tables{
    margin-left: 2%;
    
}

#cancel-btn{
    margin-left: 2%;
}

/*PO Number table and Status table side by side*/
.po-table,.postatus{
    display: inline-block;
    border-color: black;
}


/* Status table*/
.postatus, .postatus-th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px !important;
}

.postatus{
    margin-left: 2%;
}

/* Staff table*/
.staff-table, .staff-tr, .staff-rows{
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1%;
}

.staff-rows td{
    border-width: 1px !important;
}

.staff-table{
    margin-right: 2%;
}

/* Raised Table*/

.raised-table, .raised-col-tr, .raised-row-tr{
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1%;
}

.raised-row-tr td{
    border-width: 1px !important;

}


.raised-table, .staff-table{
    display: inline-block;
    border-color: black;
}

/* Product Table*/


.product-table, .product-col, .product-rows{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
}

.product-rows td{
    border-width: 1px !important;
}

.product-table{
    margin-right: 2%;
    width: 100% !important;
}

/* Supplier table*/
.supplier-table, .supplier-col, .supplier-rows{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
}

.supplier-table{
    float: right;    
    width: 100%;
}

.supplier-rows td{
    border-width: 1px !important;
    width: 29%;
    padding: 12.5%;
}

/* Subtotal Table*/
.subtotal-table, .subtotal-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
  }

.subtotal-table{
    margin-bottom: 5%;
}

#subtotal-th{
    width: 69%;
}

#subtotal-th-1{
    text-align: center;
}

.subtotal-table{
    margin-bottom: 1%;
    float: right;
}


/* vat Table*/
.vat-table, .vat-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
  }

.vat-table{
    margin-bottom: 1%;
    margin-top: 0%;
    float: right;
}

#vat-th{
    width: 69%;
}

#vat-th-1{
    text-align: center;
}

.container-left {
    display: inline-block;
    width: 75%;
}

#mainrow {
    margin-right: 2%;
}

.vat-table, .subtotal-table{
    display: block;
    clear: both;
}

/* Container right*/
.container-right {
    float: right;
    width: 23%;
    margin-left: 2%;
}

/* Notes table*/
.notes-table, .notes-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
}

.notes-table{
    margin-bottom: 1%;
    width: 100%;
    float: right;
    margin-top: 3%;

}

.notes-rows td{
    border-width: 1px !important;
    padding: 11%;
    text-align: center;
}

.notes-table, .supplier-table{
    clear: both;
}

/* Buttons*/
.buttons{
    text-align: center;
    margin-top: 5%;
}

#authorise-btn{
    background-color: #047A10 !important;
    color: white !important;
    border: none !important;
}

#authorise-btn:hover{
    background-color: #1b1464 !important;
}

#reject-btn{
    margin-right: 2%;
    margin-left: 2%;
    background-color: #9B0000 !important;
    color: white !important;
    border: none !important;
}

#reject-btn:hover{
    background-color: #1b1464 !important;
    
}

#query-btn{
    background-color: #B0B004 !important;
    color: white !important;
    border: none !important;
}

#query-btn:hover{
    background-color: #1b1464 !important;
    
}

/* MEDIA Queries*/

/*@media only screen and (max-width: 1800px){
    .container-right{
        float: right;
        width: 35%;
        margin-right: 5%;
        margin-top: 0.5%;
    }
}

@media only screen and (max-width: 1360px){
    .container-right{
        float: right;
        width: 35%;
        margin-right: 5%;
        margin-top: 0.5%;
    }
}

@media only screen and (max-width: 1356px){
    .container-right{
        float: right;
        width: 30%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1245px){
    .container-right{
        float: right;
        width: 25%;
        margin-right: 5%;
        margin-top: 0.5%;
    }
    
}

@media only screen and (max-width: 1160px){
    .container-right{
        float: right;
        width: 21%;
        margin-right: 5%;
        margin-top: 0.5%;
    }
}

@media only screen and (max-width: 1100px){
    .container-right{
        float: right;
        width: 15%;
        margin-right: 5%;
        margin-top: 0.5%;
    }
}

@media only screen and (max-width: 1020px){
    .container-right{
        width: 90%;
        margin-right: 0;
        float: none;
    }
    body{
        overflow-x: hidden  ;
    }
}

@media only screen and (max-width: 1020px){
    .container-right{
        width: 99%;
        margin-right: 0;
        float: none;
    }
    body{
        overflow-x: hidden  ;
    }
}

@media only screen and (max-width: 1020px){
    .container-right{
        width: 85%;
        margin-right: 0;
        float: none;
    }

    body{
        overflow-x: hidden  ;
    }

    .buttons{
        margin-top: 80%;
        margin-bottom: 5%;
    }
}*/

@media only screen and (max-width: 900px){
    .container-left {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .container-right{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        float: none;
    }

    body{
        overflow-x: hidden  ;
    }

    .buttons{
        margin-top: 80%;
    }
}