/* PO Number table*/
.po-table, .po-table-tr, th{
    /*border: 1px solid #1b1464;*/
    padding: 0.5rem;
    text-align: center;
    border-width: 1px !important;
  }

  #ponumber-th-1{
      text-align: center;
      width: 58%;
  }

.tables{
    margin-left: 2%;
    
}

#cancel-btn{
    margin-left: 2%;
}



/*PO Number table and Status table side by side*/
.po-table,.postatus{
    display: inline-block;
    border-color: black;
}


/* Status table*/
.postatus, .postatus-th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px !important;
}

.postatus{
    margin-left: 2%;
}

/* Staff table*/
.staff-table, .staff-tr, .staff-rows{
    /*border: 1px solid #1b1464;*/
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1%;
}

.staff-rows td{
    border-width: 1px !important;
}

.staff-table{
    min-width: 257px;
    margin-right: 2%;
}

/* Raised Table*/

.raised-table, .raised-col-tr, .raised-row-tr{
    /*border: 1px solid #1b1464;*/
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1%;
}

.raised-row-tr td{
    border-width: 1px !important;

}


.raised-table, .staff-table{
    display: inline-block;
    border-color: black;
}

/* Product Table*/


.product-table, .product-col, .product-rows{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
}

.product-rows td{
    border-width: 1px !important;
}

.product-table{
    min-width: 257px !important;
    margin-right: 2%;
}

/* Supplier table*/

.supplier-table, .supplier-col, .supplier-rows{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
}

.supplier-table{
    float: left;    
    width: 50%;
}

.supplier-rows td{
    border-width: 1px !important;
    width: 29%;
    padding: 12.5%;
}

.supplier-table, .product-table {
    /*display: inline-block;*/
}

/* Subtotal Table*/

.subtotal-table, .subtotal-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
  }

.subtotal-table{
    margin-bottom: 5%;
}

#subtotal-th{
    width: 69%;
}

#subtotal-th-1{
    text-align: center;
}

.subtotal-table{
    margin-bottom: 1%;
    display: inline-block;
    float: right;
}




/* vat Table*/


.vat-table, .vat-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
  }

.vat-table{
    margin-bottom: 1%;
    margin-top: 0%;
    /*display: inline-block; */
    float: right;
}

#vat-th{
    width: 69%;
}

#vat-th-1{
    text-align: center;
}
/*
.vat-table{
    margin-top: 5%;
    float: right;
}*/

.container-div, .product-table{
    display: inline-block;
    margin: 0px;
    
}

.vat-table, .subtotal-table{
    display: block;
    clear: both;
}

/* Notes table*/


.notes-table, .notes-tr, th{
    padding: 0.5rem;
    text-align: center;
    border-width: 1px ;
    border-color: black;
  }


.notes-table{
    margin-bottom: 1%;
    width: 50%;
    float: left;
    margin-top: 3%;
}

.notes-rows td{
    border-width: 1px !important;
    padding: 11%;
    text-align: center;
}

.notes-table, .supplier-table{
    clear: both;
}

/* Container right*/

.container-right{
    float: right;
    width: 50%;
    margin-right: 5%;
}

/* Buttons*/
.buttons{
    text-align: center;
    margin-top: 5%;
}

#reject-btn{
    margin-right: 2%;
    margin-left: 2%;
    /*background-color: #9B0000!important;*/
}

/* MEDIA Queries*/
@media only screen and (max-width: 1800px){
    .container-right{
        float: right;
        width: 45%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1620px){
    .container-right{
        float: right;
        width: 40%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1474){
    .container-right{
        float: right;
        width: 35%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1230){
    .container-right{
        float: right;
        width: 25%;
        margin-right: 5%;
    }
}