#products-table{
    width: 100%;
}

.products-tr{
    text-align: center;
}


.CircleRed {
    color: red !important;
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    font-size: 16px !important;
}

.CircleOrange {
    color: orange !important;
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    font-size: 16px !important;
}

.CircleGreen {
    color: green !important;
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    font-size: 16px !important;
}

.Po {
    display: inline;
    background-color: blue;
    color: white;
}


.Hide {
    display: none;
}