#products-table{
    width: 100%;
}

.products-tr{
    border: 1px solid black;
    text-align: center;

}

.products-tr td{
    text-align: center;
}

.products-tr td{
    padding: 2.5%;
}


.CircleRed {
    color: red !important;
    
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    
    font-size: 4vh !important;
}

.CircleOrange {
    color: orange !important;
    /*
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    */
    font-size: 4vh !important;
}

.CircleGreen {
    color: green !important;
    /*
    position: absolute;
    margin-left: -9px;
    padding-top: 5px;
    */
    font-size: 4vh !important;
}

.Hide {
    display: none;
}

.poCount {
    position: absolute;
    margin-left: -4px;
    padding-top: 9.5px;
    font-size: 12px !important;
    text-align: center !important;
    font-weight: bold;
    color: white;
}

.order-form form{
    display: flex;
}

.order-form input{
    /*max-width: 20%;*/
    margin-right: 5%;
}

.Orders-tr th{
    text-align: center;
}


