#products-table{
    width: 100%;
}

.products-tr{
    border: 1px solid black;
    text-align: center;

}

.products-tr td{
    text-align: center;
}

.products-tr td{
    padding: 2.5%;
}

.CircleRed {
    color: red !important;
    position: absolute;
    margin-left: -14px;
    margin-top: -12px;
    padding: 0px;
    font-size: 4vh !important;
}

.CircleOrange {
    color: orange !important;
    position: absolute;
    margin-left: -14px;
    margin-top: -12px;
    padding: 0px;
    font-size: 4vh !important;
}

.CircleGreen {
    color: green !important;
    position: absolute;
    margin-left: -14px;
    margin-top: -12px;
    padding: 0px;
    font-size: 4vh !important;
}

.Hide {
    display: none;
}

.poCount {
    position: absolute;
    margin-left: -7px;
    margin-top: -6px;
    padding: 0px;
    font-size: 12px !important;
    text-align: center !important;
    font-weight: bold;
    color: white;
}

.order-form form{
    display: flex;
}

.order-form input{
    margin-right: 5%;
}

.Orders-tr th{
    text-align: center;
}

img {
    height: auto;
    width: 100%;
    max-width: 100px;
}

#image {
    padding: 5px !important;
}

.order-form input{
    text-align: center !important;
}