#Orders-table{
    width: 100% !important;
    text-align: center;
}

.Po-tr{
    border: 1px solid black;
    text-align: center;
}

.Po-tr td{
    text-align: center;
}


.Po-tr td{
    padding: 2.5% !important;
}