/*.table-responsive h2{
    display: flex;
    justify-content: center;
}
*/

.table-responsive #pie-chart{
    display: flex;
    float: left;
    margin-top: 2%;
}

.table-responsive #line-bar-chart{
    display: flex;
    float: left;
}

.table-responsive h1, h2{
    font-size: 1.7rem !important;
}

#line-bar-chart{
    margin-bottom: 4%;
}

