.Staff-tr{
    border: 1px solid black;
}

#Staff-table{
    width: 100%;
    margin-bottom: 2%;
}

.edit-remove-btn{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.add-staff{
    text-align: center;
    margin: 5vh;
}

.add-staff button{
    background-color: #047A10 !important;
    color: white !important;
    border: none !important;
}

.delete-btn{
    background-color: #9B0000 !important;
    color: white !important;
}

/* Add New Staff */

.add-staff-container{
    justify-content: center;
    width: 100%;
}

.AddStaffForm{
    padding-top: 3vh; /*Form padding from top*/
}

#add-staff-inp{
   float: right;
   width: 240px;
}

#title-inp{
    width: 240px;
    float: right;
}

label{
    margin-bottom: 3vh;
}

#product-resp-inp{
    width: 240px/*26vh*/;
    float: right;
    height: 6vh;
}

label span{
    display: block;
}


#title-inp-p{
    max-width: 240px;
    float: right;
    margin-bottom: 0px;;
}

#submit-btn{
    margin-right: 5vh;
    background-color: #047A10 !important;
    color: white !important;
}

#submit-btn:hover{
    background-color: #1b1464 !important;
}

.submit-cancel-btn{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}